body{
	margin: 0;
	font-family: sans-serif;
	background-color: #81d4e9;
}

.container{
	background-color: #eeeee4;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	max-width: 600px;
	border-radius: 18px;
	padding-top: 3px;
	padding-bottom: 15px;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

form input[type="text"]{
	background-color: #eeeee4;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 15px;
	width: 20%;
	cursor: pointer;

}

form input[type="submit"]{
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	outline: none;
	transition: background-color .2s ease;
}

form input[type="submit"]:hover{
	background-color: #0062c1;
}

.icon img{
	width: 100;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.temperature{
	font-size: 48px;
	font-weight: bold;
	margin: 20px 0;
}

.description{
	font-size: 24px;
	margin-bottom: 20px;
}

.details{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.details > div{
	padding: 20px;
	background-color: #f1f1f1;
	margin: 10px;
	flex: 1;
	border-radius: 5px;
	text-align: center;
}

@media (max-with : 768px){
	form{
		flex-direction: column;
	}
	form input{
		width: 100px;
		margin-bottom: 10px;
	}
}